<p>&nbsp;</p>
<div style="width: 100%; margin: auto; max-width: 620px; background: #f0f1f5; outline: none; border-radius: 13px;">
<div style="padding: 16px; background: url('https://ci3.googleusercontent.com/meips/ADKq_NYye3e4YtZS0oh9Naw3-UERwzsNHVqL5CtzVlz4fvA8Ip5IawieEtDlgkXMeUCJOC120Ph3MQNPfEYlvTH6cWQ5Y2yBIqCXpMA5OSEvlEtmYE0=s0-d-e1-ft#https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^topnewcurve.png') no-repeat top right; background-size: 193px;">
<div style="padding: 0; text-align: left; background-color: #ffffff; border: 1px solid #e8e9ed; border-top: 0; overflow: hidden; border-radius: 13px;">
<div style="border-bottom: 0; height: 80px; padding: 5px 12px; background: url('https://ci3.googleusercontent.com/meips/ADKq_NYjJkWmmsbJpnGf1mmnSgqoX6-jncZg_hNiTe4oeQjK029kRxC_fbklH5OjN_ICwRJObbMfzKABTfKwch9X2aAk2KvWpnMVdFaxZfd_IJJUir3F1g=s0-d-e1-ft#https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^Lightbluecircle.png') no-repeat; background-size: 161px!important; background-position: right!important;">
<table style="border-width: 0px; border-style: hidden; border-image: initial; border-collapse: collapse; width: 100%; border-spacing: 0px;" border="1" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-width: 0px; border-style: hidden; border-image: initial;">
<td style="border-width: 0px; border-style: initial; border-image: initial; padding: 5px 0px;" width="60%">
<div style="display: inline-block; padding-left: 8px;"><a style="color: #00c1f2; text-decoration: none;" href="https://regnum-digital.onelink.me/bgfq/emailtoapp" target="_blank" rel="noopener"><img class="CToWUd" style="margin-top: 5px; width: 180px; float: left;" src="https://docs.investwellonline.com/cloud_investwell_images/logo/Large/regnumwealth_Logo.png?v=1717485681358" height="45" data-bit="iit"></a></div>
</td>
<td style="border-width: 0px; border-style: initial; border-image: initial;" width="40%">
<div style="display: inline-block; text-align: right; font-size: 11px; color: #727682; width: 100%;"><img class="CToWUd" style="margin-top: 5px; width: 70px;" title="Download_App.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^DownloadApp.png" data-bit="iit"><br><a style="color: #00c1f2; text-decoration: none;" href="https://play.google.com/store/apps/details?id=com.iw.regnumwealth"><img class="CToWUd" style="margin-top: 5px; width: 35px;" title="playstore.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^playstore.png" data-bit="iit"></a> <a style="color: #00c1f2; text-decoration: none;" href="https://apps.apple.com/in/app/regnum-digital/id1636687824"><img class="CToWUd" style="margin-top: 5px; width: 35px;" title="appstore.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^appstore.png" data-bit="iit"></a></div>
</td>
</tr>
</tbody>
</table>
</div>
<div style="padding: 0 5%; font-size: 15px; margin-bottom: 0!important; line-height: 1.43; font-family: sans-serif;">
<div style="font-size: 16px; line-height: 1.75; margin-top: 0px; color: #64666b; text-align: justify;">
    <p data-start="666" data-end="838"><img src="blob:https://regnumwealth.my-portfolio.co.in/e5a13437-3277-435a-870c-4ce92b3aaf8f" alt="" width="100%">Dear participant,</p>
    <p data-start="272" data-end="376"><strong data-start="303" data-end="320">Your one-time password (OTP) is</strong> &ndash; {{otp}}</p>
<p data-start="378" data-end="557">Please enter the above OTP for registration. <strong></strong></p>
<p data-start="651" data-end="751">If you have any questions or need assistance, feel free to reach out. We&rsquo;re always here to help.</p>
<h1 style="text-align: center;" data-start="91" data-end="252"><span style="color: #169179; font-family: verdana, geneva, sans-serif;"><strong>PRODUCTS WE OFFER</strong></span></h1>
<div style="border-radius: 16px; background: linear-gradient(234deg,rgb(211,247,255) -33.08%,rgb(232,231,255) 30.05%,rgba(255,243,219,0.56) 73.92%,rgba(255,248,223,0) 101.24%),rgb(244,241,255); display: inline-block; padding: 10px 10px 30px 10px; margin-top: 15px;">
<div style="display: flex;">
<div style="width: 100%; display: inline-block;">
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="mf.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^mf.png" alt="Products we offer - Mutual Fund" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">Mutual Fund</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="pms.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^pms.png" alt="Products we offer - PMS" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">PMS</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="aif.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^aif.png" alt="Products we offer - AIF" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">AIF</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="bonds.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^bonds.png" alt="Products we offer - Bonds" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">Bonds</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="GSec.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^GSec.png" alt="Products we offer - G-Sec" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">G-Sec</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="fd.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^fd.png" alt="Products we offer - FD" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">Fixed Deposits&nbsp;</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="nps.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^nps.png" alt="Products we offer - NPS" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">NPS</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="icons8-umbrella-96.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^icons8umbrella96.png" alt="Products we offer - Insurance" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">Insurance</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="las.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^icons8treeplanting48.png" alt="Products we offer - LAS" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">Loan Against Securites</span></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div style="display: flex; padding: 10px 15px; margin-top: 20px; margin-left: 20px; text-decoration: none; border-radius: 38px; background: linear-gradient(90deg,rgb(255,255,255) 27.88%,rgba(255,255,255,0) 99.96%);"><img class="CToWUd" title="icons8-pc-48.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^icons8pc48.png" alt="Products we offer - All in one Platforom" width="24" height="24" data-bit="iit">
<div style="padding-left: 12px;">
<p style="color: #2a394e; font-size: 15px; font-weight: 600; letter-spacing: 0; line-height: 21px; margin: 0px; display: flex;"><span style="color: #169179;">One Dashboard for All</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
<h2 style="text-align: center;">Exciting news! Our all-in-one financial portal is launching soon&mdash;stay tuned! 🚀</h2>
<h2><a href="https://regnum-digital.onelink.me/bgfq/emailtoapp"><span style="color: #34495e;"><img title="DOWNLOAD  OUR APP.png" src="https://docs.investwellonline.com/cloud_investwell_images/logo/TemplateImages/regnumwealth^DOWNLOADOURAPP.png" alt="" width="100%"></span></a></h2>
Happy Investing !</div>
<div style="font-size: 16px; line-height: 1.75; margin-top: 0px; color: #64666b; text-align: justify;">Best Regards,<br>Team Regnum Wealth.</div>
<div style="font-size: 16px; line-height: 1.75; margin-top: 0; color: #64666b;">&nbsp;</div>
</div>
<div style="height: 5px; background-color: #920000; font-size: 0px!important;">&nbsp;</div>
<div style="height: 5px; background-color: #030349; font-size: 0px!important;">&nbsp;</div>
</div>
<div style="width: 100%;">
<div style="font-size: 0; line-height: 0.7; margin-top: 18px; display: table; width: 100%; border-bottom: 1px dashed #cccccc;">
<div style="text-align: center; margin-bottom: 10px; width: 50%; padding-bottom: 10px; display: table-cell; vertical-align: top;">
<p style="margin: 0px 0px 10px; font-size: 13px; font-weight: 600; color: rgb(114, 118, 130) !important; text-align: justify;">Customer Service</p>
<p style="margin: 0px 0px 10px; line-height: 1.36; font-size: 11px; font-weight: 300; color: rgb(114, 118, 130) !important; text-align: justify;">Got queries? Write to us on <a href="mailto:support@regnumwealth.co.in">support@regnumwealth.co.in</a>.</p>
</div>
</div>
</div>
<div style="margin-top: 15px; padding-left: 3px; font-size: 11px; line-height: 1.64; color: #727682;">
<div style="margin-bottom: 10px;">
<div>
<div style="text-align: justify;">
<div style="text-align: justify;">If you have any feedback or suggestions, we'd love to hear from you. Write to us at <a href="mailto:support@regnumwealth.co.in">support@regnumwealth.co.in</a>. Thank you for choosing Regnum Wealth Private Limited (RWPL) as your trusted partner in your journey. We're excited to have you on this journey with us. Regnum Digital is a brand name of Regnum Wealth Private Limited.</div>
<br>*Mutual Fund investments are subject to market risks, read all scheme related documents carefully. Regnum Wealth Private Limited (RWPL) is an AMFI-registered Mutual Fund Distributor (ARN No. 180205). Registered office: 508, Takshashila Apartment, Majuragate, Surat &ndash; 395002.</div>
<div style="text-align: justify;">&copy; Regnum Wealth Pvt. Ltd. All Rights Reserved. Corporate Address: 502, Takshashila Apartment, Majuragate, Surat &ndash; 395002. CIN: U65929GJ2018PTC105665&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
<p><img src="blob:https://regnumwealth.my-portfolio.co.in/bd702dc1-94fb-49b8-be36-c8645adb991d" alt=""></p>